doctype html
html
	head
		title= titleHead
		link(rel='stylesheet', href='/bootstrap.css', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		link(rel='stylesheet', href='/style.css', type='text/css')
		script.
			$(document).ready(function () {
				$('#submit').click(function(event) {
					if($('#name').val().trim().length === 0 || $('#password').val().trim().length === 0) {
						event.preventDefault();
						$('#error-message').html("Your username or password is empty.");
					}
				});
			});
	body
		if user
			nav.navbar.navbar-default.epic-nav
				.container-fluid
					.navbar-header
						a.navbar-brand(class=['logo'], href='/') Blog Application
					ul.nav.navbar-nav.super-nav
						li
							a(href='http://localhost:3000/profile') Profile
						li
							a(href='http://localhost:3000/create-post') CREATE post
						li
							a(href='http://localhost:3000/view-own-posts') OWN posts
						li
							a(href='http://localhost:3000/view-all-posts') ALL posts
						li
							a(href='http://localhost:3000/logout') log out
			h2#error-message= message
			#content
				block content
		else
			nav.navbar.navbar-default.epic-nav
							.container-fluid
								.navbar-header
									a.navbar-brand(class=['logo'], href='/') Blog Application
			div.register
				h2 Register here		
				form(name="message-form", id='form-message', action="/create-user", method="post")
					div.input
						span.label 
						input(type="text", id='username-register', placeholder="username", name="username")
					div.input
						span.label 
						input(type="text", id='useremail-register', placeholder="email" name="useremail")
					div.input
						span.label 
						input(type="password", id='userpassword-register', placeholder="SeCret_PassWord" name="userpassword")
					div.actions
						input(type="submit", value="register", id='submit')
			br
			div.login
				h2 Login here
				form(name="message-form", id='form-message', action="/login-user", method="post")
					div.input
						span.label
						input(type="text", id='username-login', name="loginUserName", placeholder="username")
					div.input
						span.label
						input(type="password", id='useremail-login', name="loginUserPassword", placeholder="password")
					div.actions
						input(type="submit", value="login", id='submit')

			h2#error-message= message