extends layout

block content
	h2 Login
	form(action='/login-user' method='post')
	label name
	input#name(name='username' required)
	label password
	input#password(name='userpassword' required)
	input(type='submit' value='go-to-login' id='submit')