extends layout

block content
	#navbar-fixed
		#nav-wrapper
			ul
				li
					a(class=['logo'], href='/') Blog Application
					a(href='#create-post') create post
					a(href='#view-own-posts') view own posts
					a(href='#view-all-posts') view all posts
					a(href='http://localhost:3000/logout') log out
	br
	br
	br
	h2= user.name
	h3= user.email