extends layout

block content
	h1 Hi  #{user.name}. How are you my friend?
	div.profile
		h1 Here you can:
			ul
				li - create posts
				li - see everyones posts
				li - see all your own posts
				li - you can select a title and get to specific post and add comments there
	


