extends layout
block content
	p #{user.name} likes to see all the online posts.
	#posts
	each post in data 
		#single
			h2#oneTitle Title: #{post.title}
			p#oneBody #{post.body}
		form(name="commentPost", action="/commentPost", method="post")
			div.textComment
				span.label Leave Comment
				textarea.commentfield(type="text", name="commentfield")
				div.actions
					input(type="submit", value="comment")
				div#hiddeninput
		each comment in post.comments
			p #{comment.body}