extends layout
block content
	div.titlePage
		h1 This page displays all the online posts #{user.name}.
	each post in data 
		#single
			h2.oneTitle 
				a(href='/singlepost/#{post.id}') Title: #{post.title}